.frame-child1 {
  height: 91.8px;
  width: 786.2px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.email-ca-bn {
  margin: 0;
  height: 53.3px;
  width: 315.7px;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.email-password-input,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent3 {
  width: 786.2px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  justify-content: flex-start;
  padding: 39.4px 33.6px 0;
  z-index: 1;
}
.email-password-input {
  align-self: stretch;
  justify-content: center;
  padding: 0 5px 7.1px 0;
  text-align: left;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.21);
  font-family: Inter;
}
@media screen and (max-width: 750px) {
  .email-ca-bn {
    font-size: 28px;
    line-height: 18px;
  }
}
@media screen and (max-width: 450px) {
  .email-ca-bn {
    font-size: 21px;
    line-height: 13px;
  }
}
